
@font-face{
    font-family: "Poppins";
    src: url("../assets/css/fonts/Poppins-Regular.ttf");
    font-weight:600 ;
}

.wrapper-homepage{
    background: #2D2E36;
    font-family:"Poppins",sans-serif ;
   
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 30px;
}
.input{
    position: relative;
    display: inline-block;
}
.icon-input{
    position: absolute;
    top:50%;
    right:5px;
    transform:translateY(-50%) ;
}
.input-search{
    display: flex;
    align-items: center;
    gap:20px ;
    width:500px;
    height: 40px;
    padding: 7px 19px 7px 15px;
    border-radius: 10px;
    background:  #27252e;
    color:#FFF;
}
.nav{
    display: flex;
    align-items: center;
    gap:20px;
    color:#4F4F4F ;
}
.nav :hover{
    color:#FFFFFF ;
}
.buttons{
  display: flex;
  gap: 10px;
}
.btn-primary{
    display: flex;
    width: 146px;
    height: 40px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: 1px solid  #EB1484;
    background:none ;
    color: #EB1484;
}
.btn-primary:hover{
    border-radius: 10px;
    background:  linear-gradient(101deg, #EB1484 27.35%, #C91CC3 99.99%, #C81CC5 100%, #C81CC5 100%);
    color:#FFFFFF;
}
.container{
   max-width: 1180px; 
   margin:0 auto;
}
.banner-homepage{
   display: flex;
   align-items: center;
   justify-content: left;
   margin-top: 40px;
   width: 992px;
   height: 300px;
   border-radius: 25px;
   background:  linear-gradient(101deg, #EB1484 27.35%, #C91CC3 99.99%, #C81CC5 100%, #C81CC5 100%);
   margin-top:50px ;
  }
.banner-title{
    color: #FFF;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 105.7%;
    padding-left:  55px ;
    padding-top:10px;
    width: 663px;
    height: 111;
}
.card-title{
   color:  #FFF;
   font-size: 28px;
   font-weight: 600;
   margin-top:60px ;
   display: flex;
   align-items: center;
   justify-content: left;
}
body {
    position: relative;
    height: 100%;
  }

  body {
    background: #2D2E36;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
  }

  .swiper {
    width: 100%;
    height:400px;
    background: #2D2E36;
    margin: 20px  50px ;

  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #2D2E36;
    display: flex;
    justify-content: center;
    align-items: center;

  }
  .img-card{
    width: 88px;
    height: 88px;
    display: block;
    object-fit: cover;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left:40px ;
    margin-top:15px ;
  }
  .span-card{
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    line-height: normal;
    border-radius:45% ;
    background-color: #C81CC5;
    padding: 5px 10px;
    position: relative;
    top: 15px;
    right:65px;
  }
  .card{
   width: 180px;
   height: 200px;
   border-radius: 20px;
   background:  #2e313d;
   border-radius: 20px;
  }
  .name-title{
    color:  #FFF;
    font-size: 16px;
    font-weight: 600;
    margin-top: 20px;
  }
  .text-span{
    color:  #FFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-top:10px;
  }
  .ar-card{
     border-radius:50% ;
     background-color: #00B247;
     padding:5px;
     margin-left:30px ;
     margin-top: -15px;
  }
  .cards-row{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    position: relative;
  }
  .swiper-button-prev{
    width: 40px;
    height: 40px;
    color: #FFF;
    padding:20px 25px;
  }
  .swiper-button-next{
    width: 40px;
    height: 40px;
    color: #FFF;
    padding:20px 25px;
  }
  .gallery-card{
    width: 233px;
    height: 319px;
    border-radius: 20px;
    background:  #363a4d;
  }
  .img-gallery{
    border-radius:30px;
    padding:10px;
  }
  .gallery-title{
    color: #FFF;
    font-size: 28px;
    font-weight: 600;
    margin-bottom:40px ;
  }
  .gallery-card-content-info{
    display: flex;
    text-align: center;
    justify-content: space-between;
    margin:10px;
    color:  #FFF;
    font-size: 12px;
    font-weight: 600;
  }
  .gallery-card-title{
    color:  #FFF;
    font-size: 14px;
    font-weight: 600;
    margin:10px ;
  }
  .gallery{ 
    margin: 10px ;
    display: grid;
    grid-template-columns:repeat(auto-fill,minmax(200px,1fr) );
    gap: 50px;
    align-items: center;
    margin-bottom:60px ;
  }
  .footer{
    display: grid;
    grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
    gap:150px ;
    justify-content: center;
    margin-top:60px;
  }
  .list1{
    display: flex;
    flex-direction: column;
    width: 200px;
  }
  .list2{
    display: flex;
    flex-direction: column;
  }
 .list-title{
    color:  #FFF;
    font-size: 20px;
    font-weight: 600;
    margin-bottom:30px ;
  }
  .content{
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px; 
    margin-top:15px ;
  }
  .form-list{
    display: flex;
  }
  .input-list{
    width: 200px;
    height: 40px;
    border-radius: 10px;
    background:  #1B1A21;
    padding-left:10px ;
    color: #FFF;
    margin-top:20px ;
    position: absolute;
  }
  .list-link{
    display: flex;
    width: 120px;
    height: 40px;
    padding: 10px 30px;
    font-size: xx-small;
    justify-content: center;
    text-align: center;
    margin-top:20px ;
    font-size:12px;
    gap: 10px;
    border-radius: 10px;
    border: 1px solid  #EB1484;
    background:#2D2E36;
    color:  #DA18A3;
    position: relative;
    left: 155px;
  }
  .list-link:hover{
    background: linear-gradient(101deg, #EB1484 27.35%, #C91CC3 99.99%, #C81CC5 100%, #C81CC5 100%);
    color: #FFF;
  }
  .img-footer{
    display: flex;
    align-items: center;
    gap:20px ;
  }
  .footer-bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom:60px;
    margin-top: 50px;
  }
  .load-link{
    display: block;
    margin:0 auto ;
    border-radius: 10px;
    border: 1px solid  #EB1484;
    color:  #DA18A3;
    font-size: 14px;
    font-weight: 600;
    padding:10px 60px ;
  }
  .load-link:hover{
    background:  linear-gradient(101deg, #EB1484 27.35%, #C91CC3 99.99%, #C81CC5 100%, #C81CC5 100%);
    color:#FFFFFF;
  }
  .line{
    border-bottom:1px solid #5b5c66;
    margin-top: 60px;
  } 
  .logo-bottom{
    margin-bottom:10px ;
  }
  .content2{
    color:  #FFF;
    font-size: 16px;
    font-weight: 600;
  }
  .slider-button{
    position: absolute;
    top: 25%;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    z-index: 111;
  }

  .slider-button button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: solid 1px #fff;
  }
  .slider-button button:nth-child(1){
    transform: translateX(60px);
  }
  .slider-button button:nth-child(2){
    transform: translateX(-95px);
  }
  .form-register{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top:50%;
    left: 35%;
    width: 400px; 
    padding: 40px;
    margin-top:20px ;
    box-sizing: border-box;
    border: 1px solid #4F4F4F ;
    border-radius:20px ;
    padding:40px 70px ;

  }
  .form-action{
    margin-top:40px ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


  }
  .label-form{
    color:#4F4F4F;
    font-size:20px ;
    margin-top:20px ;
  }
   .input-form{
    box-sizing: border-box;
    border-radius: 10px;
    background:  #27252e;
    color:#FFF;
    width:300px;
    height: 40px;
    padding-left:20px ;
    margin-top:10px ;

   }
   .btn-sign{
      margin-top:30px ;
      font-size:40px ;
      color:#FFFFFF; ;
   }
   .link-form{
    border-radius: 10px;
    border: 1px solid  #EB1484;
    background:none ;
    color: #EB1484;
    padding:10px 20px;
    margin-top: 40px;
    width:300px;
    height: 40px;
    text-align: center;
    justify-content: center;
   }
